<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <title>League of Legends Match Prediction</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>

    <div class="login">
        <h1>Match Prediction For Blue Teams</h1>

        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}" method="post">
            <label for="Game Duration">Game Duration</label>
            <input type="text" name="Game Duration" placeholder="Duration in sec" required="required" />
            <br>
            <br>
            <label for="First Blood">Got First Blood?</label>
            <input type="text" name="First Blood" placeholder="0: No, 1: Yes" required="required" />
            <br>
            <br>
            <label for="First Tower">Got First Tower?</label>
            <input type="text" name="First Tower" placeholder="0: No, 1: Yes" required="required" />
            <br>
            <br>
            <label for="First Baron">Got First Baron?</label>
            <input type="text" name="First Baron" placeholder="0: No, 1: Yes" required="required" />
            <br>
            <br>
            <label for="First Dragon">Got First Dragon?</label>
            <input type="text" name="First Dragon" placeholder="0: No, 1: Yes" required="required" />
            <br>
            <br>
            <label for="First Inhibitor">Got First Inhibitor?</label>
            <input type="text" name="First Inhibitor" placeholder="0: No, 1: Yes" required="required" />
            <br>
            <br>
            <label for="Dragon Killed">Dragon Killed</label>
            <input type="text" name="Dragon Killed" placeholder="How many?" required="required" />
            <br>
            <br>
            <label for="Baron Killed">Baron Killed</label>
            <input type="text" name="Baron Killed" placeholder="How many?" required="required" />
            <br>
            <br>
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

        <br>
        <br>
        {{ prediction_text }}

    </div>


</body>

</html>